
      
      <table>
        <tbody>
            <tr>
                <td>İsim</td>
                <td>:</td>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>:</td>
                
                <td>{{user.email}}</td>
            </tr>
            <tr>
              <td>Ülke</td>
              <td>:</td>
              <td> {{user.country}}</td>
          </tr>
            <tr>
                <td>Şehir</td>
                <td>:</td>
                <td>{{user.city}}</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>:</td>
                <td>{{user.phone}}</td>
            </tr>

            <tr>
                <td>Doğum Tarihi</td>
                <td>:</td>
                <td>{{user.birthdate | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
