


    <app-sidebar></app-sidebar>
  <div class="container">
    <div class="corner-text">
      <p>Arama Koşulları</p>
      <button class="btn success" (click)="clearSelections()">Temizle</button>
    </div>
    

    <div class="red-rectangle">
     
      <div >
        <label for="role">Rol</label> 
        <select name="role" id="role" [(ngModel)]="selectedRole" (change)="onCitySelected()">
          <option value="" selected></option>
          <ng-container *ngFor="let role of roleList">
            <option *ngIf="role.positionlevel < level" [value]="role.positionname">
              {{ role.positionname }}
            </option>
          </ng-container>
        </select>
      </div>
              <ng-container *ngIf="role==='Ustyönetici'">
          <div >
            <label for="city">Takım</label> 
            <select name="city" id="city" [(ngModel)]="selectedCity" (change)="onCitySelected()">
              <option value="" selected></option>
              <option *ngFor="let city of cityList" [value]="city">{{ city }}</option>
            </select>
          </div>
              </ng-container>
 
              <div >
                <label for="person">Kişi</label> <!-- Dropdown üzerine metin -->
                <select name="person" id="person"[(ngModel)]="selectedPerson">
                  <option value="" selected></option>
           
                  <option *ngFor="let role of userNames" [value]="role">{{ role }}</option>
                  </select>
             
         
              </div>
              <button class="action-button" (click)="getUsers()">Ara</button> 
           
 

    </div>

  </div>
 
  <ng-container *ngIf="visible===true">

    <div class="table-responsive">
      <div class="datatable-container">
        
          <div class="filter-container">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Arama yapın..." />
            <div class="action-buttons">
              <button class="clear-button" (click)="clearSearch()">Temizle</button>
      
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>
         
                </th>
         

               <th>
                <div class="header-content">
                  <span>İsim</span>
                  <button *ngIf="sortColumn === 'name'" [ngClass]="{ 'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc' }" (click)="sort('name')">&#9660;</button>
                  <button *ngIf="sortColumn !== 'name'" (click)="sort('name')">&#9650;</button>
                </div>
              </th>
              <th>
                <div class="header-content">
                  <span>Email</span>
                  <button *ngIf="sortColumn === 'email'" [ngClass]="{ 'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc' }" (click)="sort('email')">&#9660;</button>
                  <button *ngIf="sortColumn !== 'email'" (click)="sort('email')">&#9650;</button>
                </div>
              </th>
              <th>
                <div class="header-content">
                  <span>Tel-No</span>
                  <button *ngIf="sortColumn === 'phone'" [ngClass]="{ 'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc' }" (click)="sort('phone')">&#9660;</button>
                  <button *ngIf="sortColumn !== 'phone'" (click)="sort('phone')">&#9650;</button>
                </div>
              </th>
              <th>
                <div class="header-content">
                  <span>Takım</span>
                  <button *ngIf="sortColumn === 'teamname'" [ngClass]="{ 'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc' }" (click)="sort('teamname')">&#9660;</button>
                  <button *ngIf="sortColumn !== 'teamname'" (click)="sort('teamname')">&#9650;</button>
                </div>
              </th>
              <th>
                <div class="header-content">
                  <span>Role</span>
                  <button *ngIf="sortColumn === 'role'" [ngClass]="{ 'asc': sortOrder === 'asc', 'desc': sortOrder === 'desc' }" (click)="sort('role')">&#9660;</button>
                  <button *ngIf="sortColumn !== 'role'" (click)="sort('role')">&#9650;</button>
                </div>
              </th>
           
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let user of filteredUsers">
                <tr *ngIf="user.rolelevel < level">
                  <td>
                    <button class="clear-button" (click)="openDialog(user)">Görüntüle</button>
                  </td>
                  <td><img class="profile-pic" src="{{user.imageurl}}" alt="Profile Picture">{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
                  <td>{{ user.teamname }}</td>
                  <td>{{ user.role }}</td>
                </tr>
              </ng-container>
              
            </tbody>
          </table>
        </div>
  
  </div>
 


  </ng-container>

