


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<div class="container">
  <nav>
    <div class="myimage">
      <img width="160" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Vak%C4%B1fbank_logo.svg/2560px-Vak%C4%B1fbank_logo.svg.png" alt="Vakıfbank Logo">
    </div>
    <ul>

      <li><a href="#" class="logo">
        <span class="nav-item">DashBoard</span>
      </a></li>
      <li><a href="homepage">
        <i class="fas fa-home"></i>
        <span class="nav-item">Anasayfa</span>
      </a></li>
      <ng-container *ngIf=" role === 'Yonetici' || role === 'Ustyönetici'">
        <li><a href="evaluatepage">
          <i class="fas fa-star"></i>
          <span class="nav-itemm">Performans Değerlendirmesi</span>
        </a></li>
      </ng-container>
      <li><a href="evaluateresult">
        <i class="fas fa-check-circle"></i>
        <span class="nav-itemm">Değerlendirme Sonuçları</span>
  
      </a></li>


    <ng-container *ngIf=" role === 'Yonetici' || role === 'Ustyönetici'">
      <li><a href="usermanagment">
        <i class="fas fa-tools"></i> 
        <span class="nav-item">Yönetim</span>
  
      </a></li>
    </ng-container>
    <ng-container *ngIf=" role != 'Ustyönetici'">
      <li><a href="taskspage">
        <i class="fas fa-tasks"></i>
        <span class="nav-item">Görevler</span>
      </a></li>
    </ng-container>
 
   
    <li><a href="profilepage">
      <i class="fas fa-user"></i>
      <span class="nav-item">Profil</span>

    </a></li>
     
      <li><a href="helppage">
        <i class="fas fa-question-circle"></i>
        <span class="nav-item">Yardım</span>
      </a></li>
      
      <li>
        <button class="logout" style="background: none; border: none; cursor: pointer;">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item" (click)="logout()" >Çıkış yap</span> 
        </button>
    </li>
    
    </ul>
  </nav>

    </div>
