<form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
    
  <div class="container">
      <img width="180" height="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Vak%C4%B1fbank_logo.svg/2560px-Vak%C4%B1fbank_logo.svg.png" alt="Vakıfbank Logo">
  </div>
  <div class="form-group" style="margin-bottom: 35px;">
    <select id="name" class="form-control form-control-lg custom-select" formControlName="teamid" style="display: block; width: 100%; font-size: 1rem;  color: #333; background-color: #ededed; ">
      <option value="" disabled selected>Takım Id</option> 
      <option value="Performans Değerlendirme">xashas</option>
      <option value="Kredi Ve Borçlar">ptakbs</option>
      <option value="Kredi Kartları">lasxea</option>
      <option value="Mobil Geliştirme">naszea</option>
      <option value="Sistem Geliştirme">ldasxa</option>
      <option value="Yapay Zeka">parxat</option>
    </select>
    <small *ngIf="userRegisterForm.controls['teamid'].dirty && userRegisterForm.hasError('required', 'teamid')" class="text-danger">
      Takım Id required
    </small>
  </div>
  <div class="form-group" style="margin-bottom: 20px;">
    <input type="text" id="name" class="form-control form-control-lg" placeholder="İsim" formControlName="name"  />
    <small *ngIf="userRegisterForm.controls['name'].touched && userRegisterForm.hasError('required','name')" class="text-danger"> Ad boş geçilemez</small>


    <small *ngIf="userRegisterForm.get('name')?.hasError('minlength')" class="text-danger" >
      İsim 3 karakterden az olamaz.
    </small>
    
</div>
<div class="form-group" style="margin-bottom: 35px;">
  <input type="email" id="username" class="form-control form-control-lg" placeholder="E-mail" formControlName="email" autocomplete="email" />
  <small *ngIf="userRegisterForm.controls['email'].dirty && userRegisterForm.hasError('required','email')" class="text-danger">Email boş geçilemez</small>
</div>
  <div class="form-group" style="margin-bottom: 35px;">
    <input type="text" id="username" class="form-control form-control-lg" placeholder="Kullanıcı adı" formControlName="username" autocomplete="username" />
  
    
    <small *ngIf="userRegisterForm.controls['username'].dirty && userRegisterForm.hasError('required','username')" class="text-danger"> Kullanıcı adı boş geçilemez</small>
  
  
    <small *ngIf="userRegisterForm.get('username')?.hasError('turkishCharacter') " class="text-danger" style="line-height: 1.0 ; margin-left: 5px; margin-top: 5px;">
      Kullanıcı adı türkçe karakter içeremez.
    </small>
  
  </div>
  
  <div class="form-group" style="margin-bottom: 35px;">
    <input type="password" id="password" class="form-control form-control-lg" placeholder="Sifre" formControlName="password" autocomplete="password" />

    
    <small *ngIf="userRegisterForm.controls['password'].dirty && userRegisterForm.hasError('required','password')" class="text-danger">Şifre boş geçilemez</small>


    <small *ngIf="userRegisterForm.get('password')?.hasError('minlength') || userRegisterForm.get('password')?.hasError('both') " class="text-danger" style="line-height: 1.0 ; margin-left: 5px; margin-top: 5px;"> 
      Şifreniz en az 6 karakter olmalı, büyük harfle başlamalı,özel karakter ve rakam içermelidir.
    </small>

</div>
<div class="form-group" style="margin-bottom: 35px;">
  <input type="text" id="Phone" class="form-control form-control-lg" placeholder="Telefon" formControlName="phone" />
  <small *ngIf="userRegisterForm.controls['phone'].dirty && userRegisterForm.hasError('required', 'phone')" class="text-danger">Telefon boş geçilemez </small>
  <small *ngIf="userRegisterForm.controls['phone'].dirty && userRegisterForm.hasError('pattern', 'phone')" class="text-danger">Geçerli bir telefon numarası girin</small>
</div>
<div class="form-group" style="margin-bottom: 35px;">
  <input type="date" id="dbirthDate" formControlName="birthDate" placeholder="Tarih" class="form-control"
         min="1950-01-01" max="2000-12-31">
  <small *ngIf="userRegisterForm.controls['birthDate'].dirty && userRegisterForm.hasError('required','birthDate')" class="text-danger">Doğum tarihi boş geçilemez</small>

</div>
  <div class="form-group button-container">
      <button type="submit" class="btn btn-primary" (click)="navigateToAddressPage()">Devam Et</button>
  </div>
</form>
