
<app-sidebar></app-sidebar>
<div class="min-h-screen py-10 lg:py-0 lg:grid place-content-center">
    <div class="text-center mb-14">
          <h1 class="capitalize text-gray-900 text-4xl font-semibold">Bizimle İletişime Geçin</h1>
      <p class="text-lg text-gray-700 mt-4 px-2">Herhangi bir sorun var mı? Duymakdan mutluluk duyarız</p>
    </div>
  <div class="lg:flex items-center justify-center lg:gap-10">
  
    
    <div class="bg-white rounded-lg py-12 px-10 shadow-lg max-w-xs mx-auto lg:mx-0 flex-grow border-t-8 border-indigo-400">
      <div>
        <h2 class="font-semibold text-2xl text-gray-900">Yardım </h2>
        <p class="text-gray-400 mt-2.5 text-lg">
            Destek ekibimiz size hızlı yanıtlar vermek için dünyanın dört bir yanına yayılmıştır.</p>
            <button class="border border-indigo-400 text-indigo-400 pt-1 pb-1.5 w-full shadow-sm rounded-full inline mt-24 tracking-wider capitalize" (click)="redirectToExternalSitee()" >Ziyaret et</button>
      
      </div>
    </div>
    
     <div class="bg-white rounded-lg py-12 px-10 shadow-lg max-w-xs mx-auto lg:mx-0 flex-grow border-t-8 border-indigo-400">
      <div>
        <h2 class="font-semibold text-2xl text-gray-900">Ekibimiz</h2>
        <p class="text-gray-400 mt-2.5 text-lg">
            Birlikte nasıl çalışabileceğimizi görmek için ekibimizle iletişime geçin.</p>
      <button class="border border-indigo-400 text-indigo-400 pt-1 pb-1.5 w-full shadow-sm rounded-full inline mt-24 tracking-wider capitalize" (click)=" redirectToExternalSiteee()">Ziyaret et</button>
      </div>
    </div>
  </div>
    </div>